.text{
    text-align: center;
    padding-top: 350px;
    color: white;
}
.bg-img{
    background-image: url('../images/girls-exams.jpg');     
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-clr{
    background-color: #000000b8;
    height: 100vh;
}
img{
    width: 24%;
    margin: 5px;
    height: 400px;
    object-fit: cover;
}